body{
    width: 100vw;
    background: black;
    font-weight:bold ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    justify-content: center;
    align-items: center;
    width: 100px;
}